body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/49/509/318/network-binary-binary-code-web-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 1980px;
}